.watchlist-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-left: auto;
    margin-right: 0;

    width: 300px;
    height: fit-content;

    padding-top: 20px;
    padding-bottom: 20px;

    border-radius: 20px;
    border: 1px solid black;

}
.watchlist-individual {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;

    margin-top: 10px;

    border-top: 1px solid black;
    /* border-bottom: 1px solid black; */


}

.watchlist-individual button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

}

.watchlist-individual-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

}

.watchlist-individual .watchlist-stock-individual {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    width: 100%;

    margin-top: 10px;
}

.watchlist-individual .watchlist-stock-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    width: 100%;
}

.watchlist-individual-name-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
}

.watchlist-individual-button {
    margin: 2px;
    width: 30px;
    height: 30px;
}