.news-feed-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 80%;
    padding: 30px;
}

.news-feed-container h1:first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.news-feed-individual-news {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    padding: 30px;

    /* border-top: 1px solid black; */
    border-bottom: 1px solid black;
}

.news-feed-individual-left-side{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    width: 60%;
    padding: 30px;
}

.news-feed-individual-ticker-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
}

.news-feed-individual-news-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: nowrap;
/* 
    width: 40%; */
}

.news-feed-individual-news-img-and-bookmark {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: nowrap;

    width: 40%;
}

.news-feed-individual-news-img img {
    /* width: 100px;
     */
     height: auto;
     max-width: 100px;
     object-fit: cover;
}
