.stock-page-buy-sell-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;

  width: 100%;

  margin-left: auto;
  margin-right: auto;

  margin-top: 20px;
  margin-bottom: 20px;

  border-radius: 20px;
  border: 1px solid #ccc;
}

.stock-page-buy-sell-details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 100%;
}

.stock-page-buy-sell-buy,
.stock-page-buy-sell-sell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px;
}

.stock-page-buy-sell-buy-inputs,
.stock-page-buy-sell-sell-inputs {
  width: 100%;
}

.stock-page-buy-sell-buy-inputs-quantity,
.stock-page-buy-sell-sell-inputs-quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.stock-page-buy-sell-buy-inputs-quantity input,
.stock-page-buy-sell-sell-inputs-quantity input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  width: 40%;

  text-align: center;
}

.stock-page-buy-sell-buy-inputs-price,
.stock-page-buy-sell-sell-inputs-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.stock-page-buy-sell-buy-inputs-total,
.stock-page-buy-sell-sell-inputs-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.stock-page-buy-sell-top-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;

  margin-top: 20px;
  margin-left: 20px;
}

.stock-page-buy-sell-top-buttons button {
  /* width: 100%; */

  background-color: transparent;

  font-weight: bold;
  font-size: large;

  text-decoration: underline;

  outline: none;
  border: none;

  margin-right: 20px;
}

.stock-page-buy-button-top {
  color: #198754;
}

.stock-page-sell-button-top {
  color: #f14668;
}

.stock-page-buy-sell-sell-buttons,
.stock-page-buy-sell-buy-buttons {
  width: 100%;
}

.stock-page-buy,
.stock-page-buy button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  background-color: hsl(153, 48%, 45%);
  border-radius: 20px;
  border: 0.5px solid #ccc;

  width: 100%;
  height: 40px;
}

.stock-page-buy button {
  width: 100%;
  height: 40px;

  outline: none;
  border: none;
}

.stock-page-sell,
.stock-page-sell button {
  background-color: rgb(237, 18, 62);
  border-radius: 20px;
  width: 100%;
  height: 40px;
}
