.homepage-main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 96vw;
    height: 100%;
    margin-right: 20px;
    margin-left: 20px;
}

.homepage-main-left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    margin-right: 50px;
    margin-left: 10%;
}

.homepage-main-right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
    width: 40%;
    height: 100%;
    margin-right: 10%;
    margin-left: 50px;
}